#content {
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
}

#configuration {
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px 20px 0 0;
}

#file {
  border: none;
  width: auto;
}

/* log level colors */
.log-level-0 {
  opacity: 0.5;
}
.log-level-2 {
  background-color: #fdd3a2
}
.log-level-3 {
  background-color: #ffb8b8
}
.log-level-4 {
  background-color: #bdc1ff
}
.log-level-5 {
  background-color: #ffadf8
}

.log-date, .log-time, .log-level-item, .log-host, .log-pid,
.log-component, .log-location {
  opacity: 0.5;
}

/* hide some data by default */
.log-date, .log-level-item, .log-host, .log-pid {
  display: none;
}

/* display extra spaces in the log messages, wrap long lines */
.log-line {
  word-break: break-all;
  white-space: pre-wrap;
}

.log-group-header {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 120%;
}

#content summary {
  /* to display the triangle icon properly */
  display: list-item;
}

/* indent nested groups */
details > .log-line, details > details {
  margin-left: 2em;
  border-left: dashed 1px #cbcbcb;
  padding-left: 1em;
}

/* checkboxes in the filter popup */
.modal section label {
  margin-right: 1em;
  white-space: nowrap;
}

body {
  margin: 0 2em;
}
