#content {
  font-family: 'Courier New', Courier, monospace;
  font-size: 75%;
}

#configuration {
  position: fixed;
  right: 0;
  top: 0;
  margin: 20px 20px 0 0;
}

#file {
  border: none;
  width: auto;
}

.log-level-0 {
  opacity: 0.3;
}

.log-level-2 {
  background-color: #fdd3a2
}

.log-level-3 {
  background-color: #ffb8b8
}

.log-level-4 {
  background-color: #bdc1ff
}

.log-level-5 {
  background-color: #ffadf8
}

.log-data {
  opacity: 0.5;
}

.log-line {
  word-break: break-all;
  white-space: pre-wrap;
}

body {
  margin: 0 2em;
}
